# Wing2 Column C
NET "CLK60" LOC = "P91" | IOSTANDARD = LVCMOS33 | PERIOD = 16.67ns;

NET "W2C1" LOC = "P92" | IOSTANDARD = LVCMOS33;
NET "W2C2" LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "W2C3" LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;

NET "W2C13" LOC = "P15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "W2C14" LOC = "P16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 12;
NET "W2C15" LOC = "P17" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
